
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.dashboard .navbar{
    position:sticky;
    top: 0;
    left: 0;
    background-image: linear-gradient( 135deg, #FA742B 40%,#FFE985 100%);
    width: 100%;
    height: 60px;

}

.dashboard .navbar ul{
    margin-right: 30px;
}

.dashboard .navbar .list{

    color: black;
    text-decoration: none;
    padding: 0 10px;
    float: right;
}
.dashboard .navbar .list:hover{
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.dashboard .logo{
    line-height: 50px;
    font-size: 35px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 209, 160);
    margin-left: 50px;
    padding: 0 10px;
    cursor: pointer;
    -webkit-text-stroke: #ffae00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 111, 0);
}
.dashboard .bold:hover{
    font-weight: bolder;
}